<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="style.css">
     <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <div class="modal">
        <div class="modal-title">

            <a href=""><span class="material-symbols-outlined">close</span></a>
            <h1>Modal Example</h1>
        </div>
        <div class="modal-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dignissimos nesciunt. Enim repellat nostrum dolores corrupti. In sint, consequatur eius incidunt hic iusto, dolores modi eos animi, nulla cupiditate ullam.</p>

            <button class="button-filled">Ok!</button>
        </div>

    </div>
</body>
</html>