<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Design HTML+CSS</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    <header class="header">
    <div class="round">
        <span class="icon material-symbols-outlined">face_2</span>

        <div class="search">
            <input type="search" placeholder="Search...">
        </div>

        <div class="links">
            <a class="link" href="#">Home</a>
            <a class="link" href="#">About</a>
            <a class="link" href="#">Footer</a>
        </div>
    </div>
</header>

<br>
<hr>
<br>
    <button class="button-filled">
        Filled Button
    </button>
    <button class="button-empty">
        Empty Button
    </button>
    <button class="button-borderchange">
        Border Change Button
    </button>
<br>
<br>
<hr>
<br>

    <section class="floating">
             <h1>Tela de login</h1>
        <form action="" class="floating-form">
            <div class="user">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario">
            </div>
            <div class="pass">
                <label for="senha">Senha:</label>
                <input type="text">
            </div>    
            <input type="submit" value="Entrar" class="enter">
        </form>
    </section>

    <br>
    <br>
    <hr>
    <br>

<main class="main-sidebar">
    <section class="sidebar">
        <span class="material-symbols-outlined">face_2  </span>
        <div class="div-sidebar">
            <a href="#"><span class="material-symbols-outlined">home</span>Home</a>
            <a href="#"><span class="material-symbols-outlined">task_alt</span>Task</a>
            <a href="#"><span class="material-symbols-outlined">shelves</span>Catalog</a>
            <a href="#"><span class="material-symbols-outlined">route</span>Route</a>
            <a href="#"><span class="material-symbols-outlined">help</span>About</a>
        </div>
        <div class="footer-sidebar">
            <a href="#">LogOut</a>
            <a href="#">HelpDesk</a>
        </div>
    </section>
</main>

<br>
<br>
<hr>
<br>

<div class="card">
        <h2 class="card__title">Título</h2>
        <p class="card__content">Conteúdo do card</p>
</div>


<br>
<br>
<hr>
<br>

  <div class="modal">
        <div class="modal-title">

            <a href=""><span class="material-symbols-outlined">close</span></a>
            <h1>Modal Example</h1>
        </div>
        <div class="modal-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dignissimos nesciunt. Enim repellat nostrum dolores corrupti. In sint, consequatur eius incidunt hic iusto, dolores modi eos animi, nulla cupiditate ullam.</p>

            <button class="button-filled">Ok!</button>
        </div>

    </div>

    <br>
    <br>
    <hr>
    <br>

    <div class="table-title">
        <h1>Tabela bonita</h1>
        <div class="table">
            <table>
                <tr>
                    <th>Coluna 1</th>
                    <th>Coluna 2</th>
                    <th>Coluna 3</th>
                </tr>
                <tr>
                    <td>Ex 1 Coluna 1</td>
                    <td>Ex 1 Coluna 2</td>
                    <td>Ex 1 Coluna 3</td>
                </tr>
                <tr>
                    <td>Ex 2 Coluna 1</td>
                    <td>Ex 2 Coluna 2</td>
                    <td>Ex 2 Coluna 3</td>
                </tr>
                <tr>
                    <td>Ex 3 Coluna 1</td>
                    <td>Ex 3 Coluna 2</td>
                    <td>Ex 3 Coluna 3</td>
                </tr>
                
            </table>
        </div>
    </div>

    <br>
    <br>
    <hr>
    <br>

<footer class="footer">
    <div class="empty">
        <hr>
    </div>
    <div class="content-footer">
        <span class="material-symbols-outlined">face_2</span>
        <p>©Copyright 2026 </p>
        <div class="icons-footer">
            <a href="#"><span class="material-symbols-outlined">chat</span></a>
            <a href="#"><span class="material-symbols-outlined">contacts</span></a>
        </div>
    </div>
</footer>



</body>
</html>