<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormLogInFlutuante</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section class="floating">
             <h1>Tela de login</h1>
        <form action="" class="floating-form">
            <div class="user">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario">
            </div>
            <div class="pass">
                <label for="senha">Senha:</label>
                <input type="text">
            </div>    
            <input type="submit" value="Entrar" class="enter">
        </form>
    </section>
</body>
</html>