<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="table-title">
        <h1>Tabela bonita</h1>
        <div class="table">
            <table>
                <tr>
                    <th>Coluna 1</th>
                    <th>Coluna 2</th>
                    <th>Coluna 3</th>
                </tr>
                <tr>
                    <td>Ex 1 Coluna 1</td>
                    <td>Ex 1 Coluna 2</td>
                    <td>Ex 1 Coluna 3</td>
                </tr>
                <tr>
                    <td>Ex 2 Coluna 1</td>
                    <td>Ex 2 Coluna 2</td>
                    <td>Ex 2 Coluna 3</td>
                </tr>
                <tr>
                    <td>Ex 3 Coluna 1</td>
                    <td>Ex 3 Coluna 2</td>
                    <td>Ex 3 Coluna 3</td>
                </tr>
                
            </table>
        </div>
    </div>
    
</body>
</html>