<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../style.css">
   	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
<header class="header">
    <div class="round">
        <span class="icon material-symbols-outlined">face_2</span>

        <div class="search">
            <input type="search" placeholder="Search...">
        </div>

        <div class="links">
            <a class="link" href="#">Home</a>
            <a class="link" href="#">About</a>
            <a class="link" href="#">Footer</a>
        </div>
    </div>
</header>
</body>
</html>